<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<div class="error-container main-body">
  <h1>404 Error</h1>
  <h3>The page you're looking for can't be found.</h3>

  <img class="error-container__img" src="assets/images/not-found.jpg" alt="Not found">

  <p>Return to the <a class="error-container__home-page" href="/">Home page</a>.</p>
</div>

<%- include('../partials/footer') -%>
<%- include('../partials/header-closing') -%>