<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<div class="main-body">
  <h1>About us</h1>
</div>

<%- include('../partials/footer') -%>
<%- include('../partials/header-closing') -%>

