<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<div class="main-body">
  <h1>Hire a lawyer</h1>
</div>

<%- include('../partials/footer') -%>
<%- include('../partials/header-closing') -%>