<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Andrei Gatej">
  <meta name="description" content="A platform for effectively hiring lawyers">
  <meta name="keywords" content="lawyers, hiring lawyers, platform for hiring lawyers, law firm, law office">

  <link rel="stylesheet" href="css/style.css">

  <title>Effective Lawyer Finder</title>
</head>

<body>